#gameBoard{
    width: 240px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 80px;
    height: 80px;
    background-color: beige;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}